#about
  color: #b3b3b3
  text-transform: uppercase
  font-weight: 100
  line-height: 2em
  
  p
    margin: 0
    font-size: .8em
    font-weight: normal
    
    &::first-letter
      color: #44b498
      font-size: 4em
      float: left
      font-weight: 100
      line-height: 0.75em
      margin-right: 5px
      margin-top: 6px
    