#contact
  background-image: url(../imgs/bkg.jpg)
  padding: 40px
  width: 100%
  max-width: none
  margin-bottom: 0
  
  h2
    color: #fff
  form
    max-width: maxWidth
    width: 100%
    box-sizing: border-box
    margin: 0 auto
    padding: 0 20px
    
  input, textarea
    box-sizing: border-box
    line-height: 2.5
    text-indent: 2em
    font-size: 1em
    background-color: rgba(255, 255, 255, .6)
    border: 1px solid #fff
    color: #307D6A
    margin-bottom: 20px
    transition: background-color .2s
    &:focus
      outline: 0
      background-color: rgba(255, 255, 255, .9)

  input.invalid, textarea.invalid
    border-color: rgba(255, 0, 0, 1)
    
  ::-webkit-input-placeholder
    color: #307D6A
    
  :-moz-placeholder
    color: #307D6A

  ::-moz-placeholder
    color: #307D6A

  :-ms-input-placeholder
   color: #307D6A
    
    
  textarea
    height: 200px

  input, textarea, button
    font-family: 'Open Sans', Sans-serif
    font-size: 1em
    font-weight: 100
    border-radius: 2px
    
  button
    border: 1px solid #fff
    background-color: transparent
    color: #fff
    padding: 10px 15px
    cursor: pointer
    transition: background-color .2s, color .2s
    &:hover
      background-color: #fff
      color: #307D6A
      
@media screen and (max-width: breakPoint)
  #contact
    padding-left: 20px
    padding-right: 20px
    
    form
      padding: 0
    .grid
      margin: 0
      
      [class*="grid-cell-"]
        margin-left: 0
        margin-right: 0
        
      .grid-cell-2, .grid-cell-6, .grid-cell-12
        width: 100%
      