#skills
  margin-top: 40px
  h3
    font-size: 1.3em
    margin-bottom: 10px
  ul
    margin-top: 0
  li
    text-align: center
  .skill-icon
    width: 100%
    max-width: 25px
    display: block
    margin: 0 auto 20px

@media screen and (max-width: breakPoint)
  #skills
    
    .grid
      margin: 0
      
      [class*="grid-cell-"]
        margin-left: 0
        margin-right: 0
        
      .grid-cell-3
        width: 50%
        &:nth-child(3)
          clear:both        
        &:nth-child(n+3)
          margin-top: 40px