@import '_vars'
@import '_header'
@import '_about'
@import '_projects'
@import '_languages'
@import '_skills'
@import '_contact'
@import '_grid'
@import '_type'

body 
  margin: 0
  padding: 0
  
section
  max-width: maxWidth
  width: 100%
  box-sizing: border-box
  margin: 0 auto 40px auto
  padding: 0 20px

ul
  padding: 0
  li
    list-style-type: none
    margin: 0

a 
  text-decoration: none
  
img
  border: none